.timer, .next {
    font-family: "Yu Gothic Medium", "Yu Gothic", sans-serif;
}

.conditions > div {
    margin-bottom: 1em;
}

.stops {
    display: flex;
    justify-content: center;
    gap: 1em;
}

input {
    margin-left: 2em;
}

@media (max-width: 380px) {
    .stops {
        flex-direction: column;
    }
}

.plate {
    padding: 0.3em;
    color: white;
    width: 3em;
    display: inline-block;
}

.timer {
    background-color: #494949;
    color: white;

    width: 90%;
    margin: 0 auto;
    padding: 1vh 0;
    padding-bottom: 1.5vh;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.timer h1 {
    margin: 0 0;
    margin-top: -10px;
    font-size: 3em;
    font-weight: normal;
}

.timer > h1 > span {
    font-size: small;
}

.next {
    background-color: #494949;
    color: white;

    width: 88%;
    margin: 0 auto;
    border-radius: 0.5em;
    padding: 1%;
}

.next > div {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    column-gap: 1rem;
    align-items: center;
    height: 100%;

    padding: 1.2vh 5px;
    border-bottom: 1px solid #fff;
}


.next > div > .plate {
    justify-self: start;
    grid-column: 1;
    margin-right: 0;
}

.route-info {
    grid-column: 2;
    justify-self: center;
    white-space: nowrap;
    min-width: 0;
    text-align: center;
}

.remaining-time {
    grid-column: 3;
    justify-self: end;
    white-space: nowrap;
    width: auto;
    text-align: right;
    margin-right: 1vw;
}

.unit {
    font-size: x-small;
}

.footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}
