.conditions > div {
    margin-bottom: 1em;
}

.stops {
    display: flex;
    justify-content: center;
    gap: 1em;
}

@media (max-width: 380px) {
    .stops {
        flex-direction: column;
    }
}